<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Rock Paper Scissors</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>

      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/play/start">Play</a></li>
        <li><a href="/rules">Rules</a></li>
      </ul>

    <%= yield %>
    <br><br><br><br>
    <img src='/rps.jpg'></>
  </body>
</html>
